<div class ='merge'>
<%= form_tag({:action => 'merge', :id =>  @article.id}) do %>
  <h4><%= _("Merge Articles") %></h4>
  Article ID
  <input id='merge_with' name='merge_with' type='text' value='' >
  <p>
  <input id='merge' type="submit" value="<%= _('Merge') %>" %>
<% end %>
</div>

